.auth-container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 30rem;
    padding: 1rem 1.5rem;
    gap: 1rem;
    border: 1px solid gray;
}

.white-font {
    color: var(--white-smoke);
}

.auth-container .signup-btn {
    padding: 5px;
}