.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 80vh;
    margin: 2rem;
}

.text-large {
    font-size: 3em;
}

.cta-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}