.note-card {
    display: flex;
    flex-direction: column;
    max-width: 30ch;
    max-height: 14rem;
    gap: 0.8rem;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
}

.note-header {
    display: flex;
    justify-content: space-between;
}

.db-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note-card.green {
    background-color: #39c460;
}

.note-card.blue {
    background-color: #7bcfed;
}

.note-card.yellow {
    background-color: #dbd639;
}

.note-card.red {
    background-color: #c24656;
}

.note-card.white {
    background-color: #f0ebec;
}

.update-date {
    font-size: 10px;
}

.note-footer {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
}

