
.nav {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.nav .brand-name {
    margin: 0 1.5rem;
}

.nav .search-box {
    max-width: 450px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border: 1px solid var(--lightish-gray-shade);
}

.nav .search-box input {
    width: 100%;
    font-size: 1rem;
    /* background-color: var(--dark-black); */
    padding: 0.4rem;
    color: var(--white-smoke);
}

.nav .search-box .search-btn {
    padding: 0.4rem;
    /* background-color: var( --dark-black); */
    /* color: var(--white-smoke); */
}

.nav .search-box .search-btn i:hover {
    cursor: pointer;
    color: inherit;
}

.nav .user-section i {
    display: flex;
    margin-left: 5px;
}

.nav .user-section .login-btn {
    height: 35px;
}

.user-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
}

.user-section:hover {
    color: inherit;
}

