@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.nav {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.nav .brand-name {
    position: fixed;
    margin: 0 1.5rem;
}

.nav .search-box {
    max-width: 450px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border: 1px solid var(--lightish-gray-shade);
}

.nav .search-box input {
    width: 100%;
    font-size: 1rem;
    padding: 0.4rem;
    color: var(--white-smoke);
}

.nav .search-box .search-btn {
    padding: 0.4rem;
}

.nav .search-box .search-btn i:hover {
    cursor: pointer;
    color: inherit;
}

.nav .user-section i {
    display: flex;
    margin-left: 5px;
}

.nav .user-section .login-btn {
    height: 35px;
}

.user-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
}

.user-section:hover {
    color: inherit;
}

.brand-name {
    font-family: 'Caveat', cursive;
    color: var(--white-smoke);
}

.login-btn i:hover {
    color: inherit;
}

