.bg-side-nav-dark {
    background-color: darkgray;
    max-width: 28rem;
    height: 100vh;
    position: fixed;
    top: 73px;
    left: 0;
    border-right: 1px solid whitesmoke;
}

.bg-side-nav-dark .nav-item:hover{
    background-color: lightblue;
}

.bg-side-nav-dark .nav-item {
    display: flex;
    padding: 1rem;
    gap: 1.5rem;
    transition: background-color 0.2s ease;
}

.bg-side-nav-dark .nav-item i {
    color: whitesmoke;
}

.bg-side-nav-dark .nav-item i:hover {
    color: inherit;
}

